
html, body{
    background-color: rgb(2,0,36);
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(85,8,8,1) 51%, rgba(255,0,0,1) 100%);
}

button{
    color: blue;
    z-index: 0;
                
    
    margin: 0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;

    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 0.2em;
    
}

button{
    background-color: #3333F8; 
    color: white; 
    border: 2px solid #18189C;
    }

button:hover {
    background-color: #18189C;
    color: white;
    }

    .svg {
                
        width: 100%;
        height: 100%;
    }
    svg path,
    svg circle {
        transition: all .1s ease;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
    }

    svg path {
        fill: #3333F8;
    }

    svg:hover path {
        fill: #18189C;
    }

    svg:active path{
        fill: #18189C;
        transform: translateY(4px);
    }


    #topleftdiv{
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 0%;
        width: 5%;

    }

    .instructions{
        position: absolute;
        background-color:rgba(0, 0, 0, 0.74);
        color: white;
        z-index: 0;

        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 3em;
        width: 70%;
        height: 70%;
        border-width: thick;
        border-radius: 2em;

        border-color: rgba(0, 0, 0, 0.924);
        font-size: large;
        
    }

    .instructiontitle{
        text-align: center;
        font-size: 3em;
    }

    .instructionrow{
        margin-top: 2em;
    }

    .instructionrowwithimage{
        margin-top: 5em;
    }

    .instructionsscrollable{
        margin-top: 4%;
        margin-bottom: 4%;
        padding: 0em 1em 0em 0em;
        overflow-x: auto; 
        overflow-y: auto;
        height: 80%;
    }

    #close {
        float:right;
        display:inline-block;
        padding:0.5em 0.7em;
        background:#3333F8;
        font-size: 1.8em;
        color: black;
    }

    #close:hover {
        float:right;
        display:inline-block;
        padding:0.5em 0.7em;
        background: #18189C;
        color:white;
        font-size: 1.8em;
    }
    #close:active {
        float:right;
        display:inline-block;
        padding:0.5em 0.7em;
        background: #18189C;
        color:white;
        font-size: 1.8em;
        transform: translateY(4px);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #d3d3d3; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #3333F8; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #18189C; 
        }